.btn {
    background-color: rgb(81, 81, 81);   
    color: rgb(255, 255, 255);
    margin-right: 2px;
    transition: background-color 0.3s; /* Add a smooth transition effect */
}

.btn:hover {
    background-color: rgb(140, 140, 140);
    color: rgb(255, 255, 255); /* Change the background color on hover */
}
.colorr{
    color: rgb(1, 144, 176);
    font-weight: bold;
}
/* Default placeholder color */
#myBox::placeholder {
    color: rgba(100, 100, 100, 0.55);
}

/* Dark mode enabled */
.dark-mode #myBox::placeholder {
    color: rgba(255, 255, 255, 0.443);
}
